<div>
  <h1>Bienvenido/a</h1>
  <div style="text-align:center">
    <img src="cid:id2" />
  </div>
  <h3>¡Hola, {{user.firstName}}!</h3>
  <p>Gracias por registrarte</p>
  <br />
  <p>Saludos</p>
</div>